<a routerLink="/create">+ Create New Post</a>

<h2>All Posts</h2>

<div *ngIf="loading">Loading posts...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<ul *ngIf="!loading && !error">
  <li *ngFor="let post of posts">
    <h3><a [routerLink]="['/posts', post.id]">{{ post.title }}</a></h3>
    <p>{{ post.body }}</p>
  </li>
</ul>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="loadPage($event)">
</app-pagination>

<button (click)="clearCache()">Clear Cache</button>
<button (click)="logout()" style="float: right;">Logout</button>
