<!-- <form #postForm="ngForm" (ngSubmit)="submit()" novalidate>
  <div *ngIf="error" class="error">{{ error }}</div>

  <label>
    Title:
    <input
      [(ngModel)]="title"
      name="title"
      required
      minlength="5"
      #titleInput="ngModel"
    />
    <div *ngIf="titleInput.invalid && titleInput.touched" class="error">
      Title must be at least 5 characters.
    </div>
  </label>

  <br /><br />

  <label>
    Body:
    <textarea
      [(ngModel)]="body"
      name="body"
      required
      minlength="10"
      #bodyInput="ngModel"
    ></textarea>
    <div *ngIf="bodyInput.invalid && bodyInput.touched" class="error">
      Body must be at least 10 characters.
    </div>
  </label>

  <br /><br />

  <button type="submit" [disabled]="postForm.invalid">Create</button>
</form> -->


<div class="create-post-container" >
  <div *ngIf="error" class="error">{{ error }}</div>

    <div class="header">
        <h2>Add a Post</h2>
        <p>Share your thoughts</p>
    </div>

    <form #postForm="ngForm" (ngSubmit)="submit()" novalidate>
        <div class="input-group">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Enter comment title"  [(ngModel)]="title"
      name="title"
      required
      minlength="5"
      #titleInput="ngModel" />
        </div>

        <div class="input-group">
            <label for="body">Content</label>
            <textarea id="body" rows="6" placeholder="Write your comment content here..."   [(ngModel)]="body"
      name="body"
      required
      minlength="10"
      #bodyInput="ngModel"></textarea>
        </div>

        <div *ngIf="titleInput.invalid && titleInput.touched" class="error" style="color: red;">
      Title must be at least 5 characters.
       </div>

        <button type="submit" [disabled]="postForm.invalid" class="submit-btn">
            Create Post
        </button>
    </form>
</div>